/*
 * alert colors
 */

.alert-error {
	label {
		color: @mediumRed;   
	}
}

.alert-info {
	color: @secondaryColor;
	background-color: @veryVeryLightGrey;
	border-color: @veryLightGrey;
}

.alert-icon {
	color: @primaryColor;
}

.error-icon {
	color: @mediumRed;
}

.alert label {
	display: inline;
}
